*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #EBEEF5;
}
.btn {
    background: #397DFF;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    outline: none;
    transition: background 0.3s ease-in-out;
}
.btn:active {
    outline: none;
}
.btn:hover {
    background: #2b61c8;
}

header{
    max-width: 1200px;
    height: 91px;
    margin: 0 auto;
    padding: 0 3%;
    background-color: #EBEEF5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.main-logo{
    width: 154px;
    height: 50px;
    display: flex;
    flex-direction: column;
}
.menu{
    width: 630px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.menu-tab{
    color: #656773;
    margin: 0 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}
.menu-tab img {
    display: none;
}

.menu-tab:hover{
    border-bottom: 2px solid #397DFF;
    color: #397DFF;
}
.burger, .just-mobile {
    display: none;
}

.envelope{
    display: flex;
}


.email{
    margin: 0 5px 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone{
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback{
    margin: 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feedback-1{
    font-size: 11px;
    line-height: 13px;
    color: #397DFF;
}

.feedback-2{
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
}
 /* ------------------------ */
.slide-wrap {
    position: relative;
    width: 100%;
    height: 624px;
    overflow: hidden;
}
img.slide-img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transition: opacity 700ms ease-in-out;
    opacity: 0;
}
img.slide-img.visible {
    opacity: 1;
}
.caption-wrap {
    max-width: 1200px;
    margin: 0 auto;
}
.caption {
    display: flex;
    width: 60%;
    flex-direction: column;
    font-style: normal;
    padding: 123px 0 0 3%;
    color: #fff;
}
.caption p {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.caption h1 {
    font-weight: 600;
    font-size: 52px;
    line-height: 63px;
    margin: 12px 0 24px;
}
.caption p.description {
    font-size: 16px;
    line-height: 148%;
}
.caption .btn {
    height: 48px;
    width: 184px;
    margin: 54px 24px 0 0;
    padding: 0 10px;
    cursor: pointer;
}
.caption .btn.btn-transparent {
    background: transparent;
    border: 2px solid #fff;
}
.slides {
    position: absolute;
    top: 200px;
    right: 0;
    height: 330px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    transform: translateX(1050px);
    overflow: hidden;
}
.slide {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 240px;
    width: 350px;
    padding-right: 40px;
    margin-right: 40px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
    transform: translateX(0);
}
.slide.active {
    opacity: 1;
}
.slide h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 78px;
    color: #397DFF;
}
.slide p {
    font-size: 14px;
    line-height: 160%;
    margin: 24px 0 54px;
    color: #ffffff70;
}

.slides img.arrow {
    width: 55px;
    height: 55px;
    padding: 15px;
    background: #397dff;
    border-radius: 50%;
    margin-right: 43px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
.slides img.arrow.prev {
    transform: rotate(180deg);
}
.slides img.arrow:hover {
    background: #2b61c8;
}
.arrows {
    position: absolute;
    left: 0;
    bottom: 0;
}
.slides img.arrow.disabled {
    background: #ffffff30;
}


@media screen and (max-width: 1100px) {
    .envelope {
        display: none;
    }
    .slides {
        display: none;
    }
}
@media screen and (max-width: 1020px) {
    header {
        padding: 0 5%;
    }
    .menu {
        position: absolute;
        width: 100%;
        top:90px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 5%;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        background-color: #EBEEF5;
        transform: translateX(-100%);
        transition: all 0.4s ease-in-out;
        z-index: 10;
    }
    .menu.active {
        transform: translateX(0);
    }
    .menu-tab {
        width: 100%;
        height: 72px;
        justify-content: left;
        border-bottom: 1px solid rgba(43, 45, 58, 0.1);
    }
    .menu-tab:hover, .menu-tab:active, .menu-tab:focus{
        border-bottom: 1px solid rgba(43, 45, 58, 0.1);
    }
    .menu-tab.active {
        color: #397DFF;
    }
    .menu-tab img {
        display: flex;
        margin-right: 24px;
    }
    .phone {
        display: none;
    }
    .burger {
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        justify-content: space-around;
        flex-flow: column nowrap;
    }
    .burger div {
        display: flex;
        width: 1.5rem;
        height: 0.15rem;
        background-color: #000;
        border-radius: 10px;
        transform-origin: 1px;
        transition: all 0.3s;
    }
    .burger.active div:nth-child(1){
         transform: rotate(45deg);
    }
    .burger div:nth-child(1), .burger div:nth-child(3){
         transform: rotate(0);
    }
    .burger div:nth-child(2){
         opacity: 1;
    }
    .burger.active div:nth-child(2){
        opacity: 0;
    }
    .burger.active div:nth-child(3){
         transform: rotate(-45deg);
    }
    .just-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .just-mobile button.btn {
        height: 42px;
        width: 100%;
        margin: 32px 0;
    }
    .just-mobile p.write-us {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
    }
    .just-mobile div {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 17px 0 89px;
        color: #397DFF;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
}
@media screen and (max-width: 420px) {
    .caption {
        width: 100%;
        padding: 36px 5%;
    }
    .caption p {
        font-size: 14px;
        line-height: 17px;
    }
    .caption h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
    }
    .caption p.description {
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
    }
    .btn-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .caption .btn-group button {
        margin: 32px 0;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        width: 158px;
    }
}

