*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Montserrat;
    font-size: 14px;
    background-color: #1E1E1E;
}

.header{
    width: 1500px;
    height: 91px;
    margin: 200px auto;
    background-color: #EBEEF5;
    display: flex;
    justify-content: center;
}

.mainlogoby{
    width: 154px;
    height: 50px;
    margin: 20.5px 27px 20.5px 0;
    display: flex;
    flex-direction: column;
}

.a-logo{
    text-decoration: none;
}

.logoby1{
    height: 30px;
    display: flex;
    align-items: center;
}

.circle{
    width: 28px;
    height: 27px;
    margin: 0 6px 0 0;
    position: relative;
}

.circle-part{
    position: absolute;
}

.cp1{
    top: 4px;
    left: 5px;
}

.letters-part{
    margin: 0 -1.3px;
}

.logoby2{
    width: 154px;
    height: 20px;
    position: relative;
}

.i-part{
    position: absolute;
}

.cp2{
    top: 4px;
    left: 5px;
}

.overlay{
    position: absolute;
}

.cp3{
    top: 0;
    left: 31.5px;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
}

.menu{
    width: 630px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.menu-tab{
    color: #656773;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.menu-tab:hover{
    border-bottom: 2px solid #397DFF;
    border-top: 2px solid rgb(235,238,245,0);
    color: #397DFF;
}

.envelope{
    width: 20px;
    margin: 0 10px 0 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.envelope-part{
    position: absolute;
}

.email{
    width: 119px;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone{
    width: 20px;
    margin: 0 10px 0 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback{
    width: 103px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feedback-1{
    font-size: 11px;
    line-height: 13px;
    color: #397DFF;
}

.feedback-2{
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
}